<div align="center">
<h1><%= Car.select('name').joins(:maint_records).find_by(@maint_record.car_id => params[:id]) %>'s Maintenance Records</h1>
</div>

<%-# Car.select('name').joins(:maint_records).find_by('cars.id' => 1)  -%>

<% user = User.all.select do |user| user.id == current_user.id %>
  <% user.cars.each do |car|%>


  <%car.maint_records.each do |photo| %>
    <div class="media-left">
      <!-- Renders image -->
      <%= link_to image_tag(photo.image.url, class: 'media-object'), photo.image.url %>
      <!-- Button to delete image -->
      <%= link_to 'Remove', photo_path(photo), class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'} %>
    </div>
    <div class="media-body">

    </div>
  <% end %>
<% end %>
<% end %>
