<div align="center">
<h1><%= @user.name %>'s Garage</h1>
</div>

<br><br><br>

<% @user.cars.each do |car|%>

  <%car.photos.each do |photo| %>
    <div class="media-left">
      <!-- Renders image -->
      <h4><b><%= car.name %><b></h4>
      <br>
      <%= link_to image_tag(photo.image.url, class: 'media-object'), car_path(car.id) %>
      <!-- Button to delete image -->

    </div>
    <div class="media-body">

    </div>
    <br>


  <% end %>
<% end %>
