<div align="center">
<h1> Welcome to carHub</h1>

<img src= "https://pressfrom.info/upload/images/real/2019/03/15/2021-tesla-model-y-debuts-here-s-what-you-should-know__106582_.jpg?content=1"/>

<br>



<% if false %>
<div class="page-header"><h1>Photos</h1></div>

<div class="media">
  <% @photos.each do |photo| %>
    <div class="media-left">
      <!-- Renders image -->
      <%= link_to image_tag(photo.image.url, class: 'media-object'), photo.image.url, target: '_blank' %>
      <!-- Button to delete image -->
      <%= link_to 'Remove', photo_path(photo), class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'} %>
    </div>
    <div class="media-body">
      
    </div>
  <% end %>
</div>
<% end %>
